img {
  border-radius: 0.3em;
  width: 200px;
  height: 300px;
}

footer {
  text-align: center;
  padding: 8px;
}

strong a {
  color: white;
  text-decoration: none;
  position: absolute;
  padding: 14px 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(236, 12, 12);
}

li a {
  color: white;
  text-decoration: none;
  display: inline;
  float: right;
  text-align: center;
  padding: 14px 16px;

}

aside ul li {
  background-color: white;
  padding: 0px 16px;
}
